$c-is-background: #fff;
$c-is-secondary: #044948;
$c-is-divider: #787878;
$c-is-contact: #e8e8e8;

@import 'reset';

body {
    background: linear-gradient($c-is-background, $c-is-contact);
    display: grid;

}

h1 {
    margin: auto;
    height: 10em;
}

.section {
    background-color: $c-is-divider;
    height: 50vh;
    display: flex;
}

h2 {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}

h3 {
    margin: auto;
}

.wrapper {
    display: flex;
}

.contact--us {
    // background: $c-is-secondary;
    height: 100vh;
    margin: auto;
}

 form {
    background-color: $c-is-contact;
    width: 100vh;
    height: 50vh;

}
