<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <h1>wilderhouse collective</h1>
    <section class="section">
    <h2>stay tuned...</h2>
        
    </section>
    <h3>for the new us!</h3>
    <div class="wrapper">
        <div class="contact--us">
            <div class="card">
                <p><span>name</span><br/>
                    <input type="text" placeholder="your name" /></p>
            
                <p><span>email</span><br/>
                    <input type="email" placeholder="your email" /></p>
            
                <p><span>input password</span><br/>
                    <input type="password" /></p>
                <p><span>message</span><br/>
                    <textarea></textarea></p>
            
                <p>
                    <input type="submit" value="input submit" /></p>
            
                {{!-- <p><button>Button</button></p>
                <p><a class="btn" href="#">anchor</a></p> --}}
            </div>
        </div>
    </div>
    <footer>

        
    </footer>
</body>
</html>
{{outlet}}