<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <h1>wilderhouse collective</h1>
    <section class="section">
    <h2>stay tuned...</h2>
        
    </section>
    <h3>for the new us!</h3>
        <div class="contact--us">
            <form name="contact" method="POST" netlify>
                <p>
                    <label>Your Name: <input type="text" name="name" /></label>
                </p>
                <p>
                    <label>Your Email: <input type="email" name="email" /></label>
                </p>
                <p>
                    <label>Your Role: <select name="role[]" multiple>
                            <option value="leader">Leader</option>
                            <option value="follower">Follower</option>
                        </select></label>
                </p>
                <p>
                    <label>Message: <textarea name="message"></textarea></label>
                </p>
                <p>
                    <button type="submit">Send</button>
                </p>
            </form>
        </div>
    <footer>

        
    </footer>
</body>
</html>
{{outlet}}